<html>
<head>
    <title>Test App</title>
</head>
<body>
<h1>
    Test app
</h1>
<div id="container"></div>

<!-- Load React. -->
<!-- Note: when deploying, replace "development.js" with "production.min.js". -->
<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js" crossorigin></script>

<!-- Load our React component. -->
<script src="{{ url_for('static', filename='components/react.js') }}"></script>
</body>
</html>